LLM_FLAVOR=GOOGLE
GEMINI_MODEL=gemini-3-flash-preview
GOOGLE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MEDGEMMA_TEXT_ONLY_MODEL_NAME=MedAIBase/MedGemma1.5:4b
MEDGEMMA_WITH_IMAGE_MODEL_NAME=thiagomoraes/medgemma-1.5-4b-it:Q4_K_M #or thiagomoraes/medgemma-4b-it:Q4_K_M
OPENAI_MODEL=gpt-4.1-mini
OPENAI_API_BASE=https://api.openai.com/v1
OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
HF_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx