.calendar {
  max-height: 60vh;
  overflow-y: auto;
}

.calendar .header {
  padding: 10px;
  background-color: lightgray;
  color: var(--dark);
  font-size: large;
}

.calendar .calendar-entry {
}

.calendar .calendar-entry .time-range {
  background-color: rgba(125, 125, 125, 0.15);
  border-radius: 6px;
  font-size: small;
  width: 135px;
  margin-bottom: 0px;
  padding-top: 3px;
  text-align: center;
}

.calendar .calendar-entry .title {
  color: var(--primary-color);
  font-size: medium;
}

.calendar .calendar-entry .notes {
  font-size: small;
  text-align: left;
  margin-top: 6px;
  background-color: rgba(64, 134, 244, 0.15);
  border-radius: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  color: rgba(0, 0, 0, 0.8);
}

.calendar .calendar-entry .notes,
ul {
  padding-left: 1.5rem;
}
