# You must create a .env file with the following environment variables containing the necessary data
OPENAI_MODEL=xxxxxxxxxxxxxxxxx
OPENAI_API_BASE=https://xxxxxxxxxxxxxx
OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxx